<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.ci }}</td>
                    <td>
                        <a href="#"><i class="fas fa-eye"></i> Ver Consumos</a>
                        <a href="#"><i class="fas fa-plus"></i> Crear Orden</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
