{% extends 'base/baseEmpleado.html' %}

{% block content %}
    <div class="container mt-5" style="height:300px">
        <div class="text-center mb-4 mt-5">
            <h1 class="font-weight-bold" style="color: #2D2D2D; font-family: 'Univia Pro'">
                Estación de Servicio
            </h1>
        </div>

        {% for dto in dtos %}
            <div class="card mb-5 mx-auto shadow"
                 style="max-width: 650px; border-radius: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="row no-gutters">
                    <!-- Columna de Información -->
                    <div class="col-md-9 p-4">
                        <div class="d-flex align-items-center mb-2">
                            <p class="font-weight-bold mb-0"
                               style="color: #3671BF; font-size: 18px; font-weight: bold;"> Placa: </p>
                            <span class="ml-2" style="font-size: 18px; color: #333;"> {{ dto.placa }}</span>
                        </div>
                        <hr>
                        <h6 style="color: #2D2D2D; font-weight: 600;">Especificaciones del Servicio</h6>
                        <p style="color: #333; font-size: 0.95em; margin-top: 5px;">
                            <strong>{{ dto.service.name }}:</strong> {{ dto.service.description }}
                        </p>
                    </div>

                    <!-- Contenedor para QR con espacio adicional a la derecha -->
                    <div class="col-md-3 d-flex justify-content-center align-items-center p-3">
                        <div class="qr-container mx-auto "
                             style="background-color: #8C182D; padding: 10px; border-radius: 12px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); margin-right: 30px;">
                            <!-- Agregado un mayor margin-right -->
                            <img
                                    src="{% url 'generate_qr' dto.order_id %}"
                                    class="img-fluid rounded"
                                    alt="Código QR"
                                    style="width: 120px; height: 120px;"
                            />
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}
