{% extends 'base/mecanicos.html' %}

{% block content %}


<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mx-auto text-center font-weight-bold">
            Estacion
        </h1>
    </div>

    {% for dto in dtos %}
    <div class="card shadow mt-5 mx-auto" style="max-width: 800px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Placa: {{ dto.placa }}</h5>
                    <h5 class="card-text mt-4">Especificaciones:</h5>
                    <p class="card-text">{{ dto.service.name }}: {{ dto.service.description }}</p>

                </div>
            </div>
            <div class="col-md-4">
                <img
                    src="{% url 'generate_qr' dto.order_id %}"
                    class="img-fluid rounded-end"
                    alt="QR Code"
                />
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
