{% extends 'base/autos.html' %}

{% block content %}

<h1 class="mt-5 text-center">Orden de Servicio</h1>

<div class="container mt-4 d-flex justify-content-center">

    <!-- Formulario Registro de Vehiculo-->
    <form id="formularioServicio" method="post" action='{% url 'generarOrden'%}' class="w-50">
        {% csrf_token %}

        <!-- Información del vehículo en una tarjeta -->
        <div class="card mb-4" style="background-color: #F8E5E9; border-color: #A62D43;">
            <div class="card-header" style="background-color: #A62D43; color: white;">
                Información del Vehículo
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Año:</strong> {{vechicle.anio}}</p>
                <p class="card-text"><strong>Marca:</strong> {{vechicle.marca}}</p>
                <p class="card-text"><strong>Modelo:</strong> {{vechicle.model}}</p>
                <p class="card-text"><strong>Placa:</strong> {{vechicle.placa}}</p>
                <p class="card-text"><strong>Color:</strong> {{vechicle.color}}</p>
            </div>
        </div>

        <!-- Información del vehículo (datos ocultos) -->
        <input type="hidden" id="id" name="id" value="{{vechicle.id}}">
        <input type="hidden" id="año" name="año" value="{{vechicle.anio}}">
        <input type="hidden" id="marca" name="marca" value="{{vechicle.marca}}">
        <input type="hidden" id="modelo" name="modelo" value="{{vechicle.model}}">
        <input type="hidden" id="placa" name="placa" value="{{vechicle.placa}}">
        <input type="hidden" id="color" name="color" value="{{vechicle.color}}">

        <!-- Sección de selección de servicios -->
        <div class="form-group mb-3">
            <label for="servicios" class="form-label"><strong>Seleccione los servicios deseados:</strong></label>
           
            <div id="servicios">
                {% for service in services %}
                    <div class="form-check mb-2" style="padding-left: 1.5em;">
                        <input class="form-check-input" type="checkbox" value="{{ service.name }}" id="{{ service.name }}" name="servicios">
                        <label class="form-check-label" for="cambioAceite">
                            {{ service.name }}: {{ service.description }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="button" class="btn btn-lg" style="background-color:#A62D43; border-color:#A62D43; color:#fff;" onclick="mostrarAlerta()">Generar Orden</button>
        </div>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function mostrarAlerta() {
        const campos = document.querySelectorAll('#formularioServicio [required]');

        let todosLlenos = true;
        campos.forEach((campo) => {
            if (!campo.value) {
                todosLlenos = false;
            }
        });

        const servicios = document.querySelectorAll('#servicios input[type="checkbox"]');
        let algunServicioSeleccionado = false;
        servicios.forEach((servicio) => {
            if (servicio.checked) {
                algunServicioSeleccionado = true;
            }
        });

        if (todosLlenos && algunServicioSeleccionado) {
            Swal.fire({
                title: '¡Orden generada correctamente!',
                icon: 'success',
                confirmButtonText: 'Aceptar',
                customClass: {
                    confirmButton: 'swal2-confirm'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('formularioServicio').submit();
                }
            });
        } else {
            Swal.fire({
                title: 'Por favor, completa todos los campos y selecciona al menos un servicio.',
                icon: 'warning',
                confirmButtonText: 'Aceptar',
                customClass: {
                    confirmButton: 'swal2-confirm'
                }
            });
        }
    }
</script>

{% endblock %}
