{% extends 'base/autos.html' %}

{% block content %}
  
    <div class="container">
      <div class="row justify-content-center">
        
        <div class="col-12">
          <h1 class="mx-auto text-center mt-4">Hola {{ user}}</h1>
        </div>

        <div class="col-12 ">
          <div class="row align-items-center">
            
            <div class="col-md-5 d-flex justify-content-center mt-4">
              <div class="d-flex flex-column align-items-center mt-3" style="background-color: #a62d43; width: 325px; border-radius: 10px; height: 400px; box-shadow: 0px 4px 8px;">
                <img class="mt-3" 
                  style="width: 300px; height: auto; border-radius: 10px;" 
                  src="{% url 'generate_qr' %}"
                  alt="QR Code"
                />
                <div class="mt-3" style="color: #ffffff; font-size: 20px; font-weight: bold;">
                  Ingresa Aquí!
                </div>
              </div>
            </div>

            <div class="col-md-3 d-none d-md-flex align-items-center justify-content-center mt-5">
              <div class="line" style="height: 440px; border-left: 4px solid #2C2F40;"></div>
            </div>
            
            <div class="col-md-4 text-center text-md-left mt-4" style="font-size: 45px; font-weight: bold; color:#2C2F40">
              Mech Help!<br />
              Tu Mecánica de Confianza
            </div>
          </div>

        </div>    
      </div>
    </div>
 
{% endblock %}