{% extends 'base/baseEmpleado.html' %}

{% block content %}
<style>
    .btn-primary {
        background-color: #8C182D !important;
        border-color: #8C182D !important;
    }

    .btn-primary:hover {
        background-color: hsl(350, 72%, 55%) !important;
        border-color: hsl(350, 72%, 55%) !important;
    }

    /* Ajustar el tamaño y centrado de la vista previa */
    .preview-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .preview-container img {
        max-width: 200px; /* Tamaño máximo de ancho */
        height: auto; /* Mantener la proporción */
        border: 1px solid #ddd; /* Opcional: borde alrededor de la imagen */
        border-radius: 5px; /* Opcional: bordes redondeados */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra */
    }
</style>

<div class="container mt-5 d-flex justify-content-center">
    <form method="post" action="{% url 'actualizar_estado' %}" class="w-75" enctype="multipart/form-data">
        <div class="col-12 col-md-8 offset-md-2 mb-3 mt-5">
            <div class="card shadow" style="max-width: 600px; height: auto">
                <h1 class="card-title text-center mt-4"
                    style="font-size: 35px; font-weight: bold; color:#2D2D2D; font-family: 'Univia Pro'">
                    Subir QR
                </h1>

                <div class="mt-4 d-flex justify-content-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>

                <div class="preview-container">
                    <img id="preview" style="display: none;" alt="Vista Previa" />
                </div>

                <div class="text-center m-4">
                    <button type="submit" class="btn btn-primary">
                        Enviar Archivo
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById("formFile").addEventListener("change", function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById("preview");

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            };

            reader.readAsDataURL(file);
        } else {
            preview.style.display = "none";
        }
    });
</script>

{% endblock %}
