{% extends 'base/autos.html' %} {% block content %}
<div class="container mt-5 d-flex justify-content-center">
  <form method="post" action="{% url 'actualizar_estado' %}" class="w-75" enctype="multipart/form-data">
    <div class="col-12 col-md-8 offset-md-2 mb-3 mt-5">
      <div class="card shadow" style="max-width: 600px; height: auto">
        <h1
          class="card-title text-center mt-4"
          style="font-size: 25px; font-weight: bold"
        >
          Subir QR
        </h1>

        <div class="mt-4 d-flex justify-content-center">
        {% csrf_token %}
        {{ form.as_p }}
        </div>

        <div class="preview-container mt-4">
          <img
            id="preview"
            class="card-img"
            style="display: none; max-width: 100%; height: auto"
            alt="Vista Previa"
          />
        </div>

        <div class="text-center m-4">
          <button
            type="submit"
            class="btn"
            style="
              background-color: #a62d43;
              border-color: #a62d43;
              color: #fff;
            "
          >
            Enviar Archivo
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  document
    .getElementById("formFile")
    .addEventListener("change", function (event) {
      const file = event.target.files[0];
      const preview = document.getElementById("preview");

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          preview.src = e.target.result;
          preview.style.display = "block";
        };

        reader.readAsDataURL(file);
      } else {
        preview.style.display = "none";
      }
    });
</script>

{% endblock %}