{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django project</title>
      <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--custom Styles-->
  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>

            </li>
            <li>
                <a href="{% url 'register' %}">Registro</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Inicio de sesión</a>
            </li>
            <li>
                <a href="{% url 'registrarAuto' %}">Registro Auto</a>
            </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>