{% extends 'base/baseBienvenida.html' %}

{% load static %}

{% block content %}

    <style>

        .right-side {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background-color: #f9f9f9;
        }

        .btn-primary {
            background-color: #8C182D !important;
            border-color: #8C182D !important;
        }

        .btn-primary:hover {
            background-color: hsl(350, 72%, 55%) !important;
            border-color: hsl(350, 72%, 55%) !important;
        }

        .btn-primary:active {
            background-color: hsl(350, 72%, 55%) !important;
            border-color: hsl(350, 72%, 55%) !important;
        }

        .btn-primary:focus {
            background-color: hsl(350, 72%, 55%) !important;
            border-color: hsl(350, 72%, 55%) !important;
            box-shadow: none !important;
        }

        .recuperar-container {
            width: 390px;
        }
    </style>
    <div class="right-side">
        <div class="recuperar-container">
            <h1 style="color: #2D2D2D; margin-bottom: 30px;text-align: center">Recuperar Contraseña</h1>


            <!-- Formulario para recuperación de contraseña -->
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row justify-content-center btn-container">

                    <div class="col-md-auto mb-3">

                        <button class="btn btn-primary btn-block">
                            Enviar Correo
                        </button>
                    </div>

                    <div class="col-md-auto mb-3">
                        <button type="button" class="btn btn-secondary"
                                onclick="window.location.href = '{% url 'login' %}'">
                            Cancelar
                        </button>
                    </div>
                </div>


            </form>


            <div>{{ error }}</div>

        </div>
    </div>



    <script>
        // Función para mostrar el formulario de recuperación de contraseña
        function mostrarFormularioCorreo() {
            document.getElementById('formRecuperar').style.display = 'block';
            document.getElementById('loginForm').querySelectorAll('input, button').forEach(el => {
                el.disabled = true;
            });
        }

        // Función para enviar el correo electrónico y mostrar el formulario de token
        function enviarCorreo() {
            var correo = document.getElementById('correo').value;
            // Aquí puedes implementar el código para enviar el correo electrónico y procesar la respuesta
            document.getElementById('formCorreo').style.display = 'none';
            document.getElementById('formToken').style.display = 'block';
            return false; // Evitar envío del formulario por ahora
        }

        // Función para verificar el token y mostrar el formulario de nueva contraseña
        function verificarToken() {
            // Aquí puedes implementar el código para verificar el token y procesar la respuesta
            document.getElementById('formToken').style.display = 'none';
            document.getElementById('formNuevaContraseña').style.display = 'block';
        }

        // Función para guardar la nueva contraseña
        function guardarContraseña() {
            // Aquí puedes implementar el código para guardar la nueva contraseña
            // Por ejemplo, enviar una solicitud al servidor para actualizar la contraseña
            // Una vez guardada la contraseña, habilitar el formulario de inicio de sesión nuevamente
            habilitarFormularioLogin();
        }

        // Función para habilitar el formulario de inicio de sesión
        function habilitarFormularioLogin() {
            document.getElementById('loginForm').querySelectorAll('input, button').forEach(el => {
                el.disabled = false;
            });
        }

        // Función para alternar la visibilidad de la contraseña en el formulario de inicio de sesión
        function togglePasswordVisibilityLogin(button) {
            var passwordField = document.getElementById("id_password");

            // Comprobar si el campo de contraseña es visible o no
            var isPasswordVisible = (passwordField.type === "text");

            // Cambiar el tipo de campo de contraseña
            passwordField.type = isPasswordVisible ? "password" : "text";

            // Cambiar el texto del botón
            button.textContent = isPasswordVisible ? "Mostrar Contraseña" : "Ocultar Contraseña";
        }

        // Función para alternar la visibilidad de la contraseña en el formulario de reestablecimiento de contraseña
        function togglePasswordVisibilityReset(fieldId, button) {
            var passwordField = document.getElementById(fieldId);

            // Comprobar si el campo de contraseña es visible o no
            var isPasswordVisible = (passwordField.type === "text");

            // Cambiar el tipo de campo de contraseña
            passwordField.type = isPasswordVisible ? "password" : "text";

            // Cambiar el texto del botón
            button.textContent = isPasswordVisible ? "Mostrar Contraseña" : "Ocultar Contraseña";
        }
    </script>

{% endblock %}
