{% extends 'base/inicio.html' %}

{% load static %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="row align-items-center">
          <div class="col-md-3">
            <img src="" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h1 class="display-4">¡Bienvenido!</h1>
            <p class="lead">Gracias por visitar nuestra página.</p>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3>Registro</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              
              <!-- Errores Generales -->
              {% if form.non_field_errors %}
                <div class="alert alert-danger">
                  {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              
              <!-- Campo Usuario -->
              <div class="form-group">
                {{ form.user.label_tag }}
                {{ form.user }}
                {% if form.user.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.user.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Campo Contraseña -->
              <div class="form-group">
                {{ form.password.label_tag }}
                <div class="input-group">
                  {{ form.password }}
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" onclick="togglePasswordVisibility(this)">
                      Mostrar Contraseña
                    </button>
                  </div>
                </div>
                {% if form.password.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.password.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Campo Nombre -->
              <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.name.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.name.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Campo Apellido -->
              <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {% if form.last_name.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.last_name.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Campo Teléfono -->
              <div class="form-group">
                {{ form.cellphone.label_tag }}
                {{ form.cellphone }}
                {% if form.cellphone.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.cellphone.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Campo Cédula -->
              <div class="form-group">
                {{ form.ci.label_tag }}
                {{ form.ci }}
                {% if form.ci.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.ci.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Campo Dirección -->
              <div class="form-group">
                {{ form.direction.label_tag }}
                {{ form.direction }}
                {% if form.direction.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.direction.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Campo Correo -->
              <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                  <div class="invalid-feedback d-block">
                    {% for error in form.email.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <!-- Botones de Acción -->
              <div class="row justify-content-center">
                <div class="col-md-auto mb-3">
                  <button type="submit" class="btn btn-primary" style="background-color:#A62D43; border-color:#A62D43;">
                    Registrarse
                  </button>
                </div>
                <div class="col-md-auto mb-3">
                  <button type="button" class="btn btn-secondary" onclick="window.location.href = '{% url 'login' %}'">
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility(button) {
    var passwordField = document.getElementById("id_password");

    // Comprobar si el campo de contraseña es visible o no
    var isPasswordVisible = (passwordField.type === "text");

    // Cambiar el tipo de campo de contraseña
    passwordField.type = isPasswordVisible ? "password" : "text";

    // Cambiar el texto del botón
    button.textContent = isPasswordVisible ? "Mostrar Contraseña" : "Ocultar Contraseña";
  }
</script>

{% endblock %}
