{% extends 'base/baseInicio.html' %}

{% load static %}

{% block content %}

    <style>
        /* Fuente Univia Pro */
        @font-face {
            font-family: 'Univia Pro';
            src: url({% static 'fonts/UniviaPro-light.woff2' %}) format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        .quienes-somos {
            text-align: center;
            padding: 2rem;
            color: #012340;

        }

        .quienes-somos .title {
            font-family: 'Univia Pro', sans-serif;
            font-size: 2.5rem;
            color: #012340;
            margin-bottom: 10px;
            font-weight: bold;

        }

        .title-underline {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 8px; /* Espacio entre el título y la línea */
        }

        .title-underline::before,
        .title-underline::after {
            content: "";
            flex: 1;
            height: 1px;
            background-color: #d3d3d3; /* Color de las líneas grises */
        }

        .dot {
            width: 8px;
            height: 8px;
            background-color: #8C182D; /* Color del punto */
            border-radius: 50%;
            margin: 0 10px; /* Espacio entre las líneas y el punto */

        }

        .content-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        .quienes-somos .content {
            flex: 1;
            font-size: 15px;
            line-height: 1.6;
            text-align: left;
            font-family: "Univia Pro", sans-serif;;
            margin-left: 20px;
            color: #2D2D2D;
            margin-top: 40px;

        }

        .quienes-somos .locations {
            list-style-type: none;
            padding: 0;
            color: #2D2D2D;
            font-weight: bold;
        }

        .quienes-somos .locations li {
            margin-bottom: 0.5rem;
        }

        .quienes-somos .image {
            flex: 1;
            text-align: center;
            margin-top: 60px;
        }

        .quienes-somos .image img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .video-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            text-align: center;
            
        }

        .video-title {
            font-family: 'Univia Pro', sans-serif;
            color: #012340; /* Ajusta el color si es necesario */
            font-weight: bold;
            margin-bottom: 10px;
        }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }


        /* Estilo de las imágenes del carrusel */
        .carousel-item img {
            object-fit: cover; /* Mantiene la proporción de la imagen recortando si es necesario */
            width: 100%; /* Ocupa el 100% del ancho */
            height: 350px; /* Altura inicial de la imagen */
        }

        /* Estilo de las leyendas */
        .carousel-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            max-width: 80%; /* Limita el ancho del texto */
            font-size: 2rem; /* Tamaño de fuente por defecto */
        }

        /* Ajustes para pantallas medianas (tablet y dispositivos con pantallas más pequeñas) */
        @media (max-width: 768px) {
            .carousel-item img {
                height: 50vh; /* La imagen ocupará el 50% de la altura de la ventana en pantallas más pequeñas */
            }

            .carousel-caption {
                font-size: 1.5rem; /* Tamaño de fuente reducido para pantallas medianas */
                top: 45%; /* Ajusta la posición del texto para que esté centrado */
            }
        }

        /* Ajustes para pantallas muy pequeñas (móviles) */
        @media (max-width: 480px) {
            .carousel-item img {
                height: 40vh; /* La imagen ocupará el 40% de la altura de la ventana en pantallas móviles */
            }

            .carousel-caption {
                font-size: 1.2rem; /* Tamaño de fuente aún más pequeño en pantallas muy pequeñas */
                top: 40%; /* Ajusta la posición del texto */
            }
        }

        /* Estilo de las flechas de navegación */
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
            border-radius: 50%; /* Para que sean círculos */
            width: 60px; /* Aumentar el tamaño */
            height: 60px; /* Aumentar el tamaño */
        }

        .carousel-control-prev-icon::before,
        .carousel-control-next-icon::before {
            font-size: 3rem; /* Aumentar el tamaño de la flecha */
            font-weight: bold; /* Hacer la flecha más gruesa */
        }
    </style>

    <!-- Carrusel de Bootstrap -->
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/lavadoautos.jpg' %}" alt="">
                <div class="carousel-caption">
                    <p>La limpieza de tu auto es nuestra especialidad. ¡Somos los número uno!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/cambioaceite.jpg' %}" alt="Imagen 2">
                <div class="carousel-caption">
                    <p>Mantén tu motor en óptimas condiciones con el cambio de aceite.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/alineacionybalanceo.jpg' %}" alt="Imagen 3">
                <div class="carousel-caption">
                    <p>Con una correcta alineación y balanceo, tu coche va más lejos y con mayor seguridad.</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/abcmotor.jpg' %}" alt="Imagen 3">
                <div class="carousel-caption">
                    <p>La limpieza del motor mejora el rendimiento y alarga la vida de tu vehículo.</p>
                </div>
            </div>
        </div>

        <!-- Controles de navegación -->
        <a class="carousel-control-prev" href="#customCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#customCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>

    <div class="quienes-somos">
        <div class="section-title">
            <h1 class="title">Quiénes Somos</h1>

            <div class="title-underline">
                <span class="dot"></span>
            </div>
        </div>
        <div class="content-container">
            <div class="content">
                <p>
                    AutoFresh es una empresa dedicada al cuidado y mantenimiento de vehículos, comprometida con ofrecer
                    un servicio de alta calidad en cada detalle. Nos especializamos en lavado, cambio de aceite,
                    alineación, balanceo, y mantenimiento de motores, garantizando que tu auto esté siempre en óptimas
                    condiciones.
                </p>
                <p>
                    Con un equipo altamente capacitado y un enfoque en la satisfacción del cliente, operamos en las
                    principales ciudades de Ecuador, convirtiéndonos en el mejor aliado para el cuidado de tu vehículo.
                </p>
                <p>Contamos con operaciones en:</p>
                <ul class="locations">
                    <li>✔ Guayaquil</li>
                    <li>✔ Cuenca</li>
                    <li>✔ Quito</li>
                </ul>
            </div>
            <div class="image">
                <img src="{% static 'images/lubricadora.jpg' %}" alt="Empleado de AutoFresh sonriendo">
            </div>
        </div>
    </div>

    <div class="video-section">

        <div class="section-title">
            <h1 class="video-title">Conócenos</h1>
            <div class="title-underline">
                <span class="dot"></span>
            </div>
        </div>

        <div style="max-width: 800px; margin: 0 auto; margin-top: 60px">
            <iframe width="800" height="400"
                    src="https://www.youtube.com/embed/vJwvCOLNh6g"
                    title="Video Informativo de AutoFresh"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </div>



    <!-- JavaScript de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
