{% extends 'base/baseAdministrador.html' %}

{% block content %}

    <style>
        /* Estilo base de los botones */
        .btn-primary {
            background-color: #8C182D !important; /* Color de fondo */
            border-color: #8C182D !important; /* Color de borde */
        }

        /* Estado hover */
        .btn-primary:hover {
            background-color: hsl(350, 72%, 55%) !important; /* Hover color */
            border-color: hsl(350, 72%, 55%) !important; /* Hover border */
        }

        /* Estado active (cuando el botón es presionado) */
        .btn-primary:active {
            background-color: hsl(350, 72%, 55%) !important;
            border-color: hsl(350, 72%, 55%) !important;
        }

        /* Estado focus (cuando el botón recibe el foco) */
        .btn-primary:focus {
            background-color: hsl(350, 72%, 55%) !important;
            border-color: hsl(350, 72%, 55%) !important;
            box-shadow: none !important; /* Elimina resplandor */
        }

        /* Estilos de la tabla */
        .table {
            width: 100%; /* La tabla ocuparátodo el ancho disponible */
            margin-bottom: 20px;
            table-layout: fixed; /* Para garantizar que las columnas tengan el mismo ancho */
            border-collapse: collapse; /* Para eliminar los espacios entre las celdas */
        }

        /* Encabezado de la tabla */
        .table thead th {
            background-color: #7AACBF;; /* Color de fondo */
            color: white; /* Color de texto */
            text-align: center; /* Centrado del texto */
            padding: 12px;
            font-weight: bold;
            border: 1px solid #ccc; /* Borde para las celdas del encabezado */
        }

        /* Estilo de las filas de la tabla */
        .table tbody td {
            padding: 10px; /* Espaciado dentro de las celdas */
            border: 1px solid #E5E7EB; /* Borde sutil en las celdas */
            word-wrap: break-word; /* Permite que el texto largo se ajuste */
            text-align: center; /* Centrado del texto en las celdas */
        }

        /* Filas alternas de la tabla */
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f8f9fa; /* Fondo gris claro para filas impares */
        }

        .table-striped tbody tr:nth-of-type(even) {
            background-color: #D9C49C; /* Fondo beige claro para filas pares */
        }

        /* Estilo para los botones dentro de las celdas de acciones */
        .btn-sm {
            padding: 6px 12px; /* Asegura que los botones sean compactos */
            font-size: 0.8rem; /* Fuente más pequeña */
        }

        /* Estilo base del botón */
        .btn-outline-success {
            border-color: #28a745;
            border-width: 2px; /* Ajusta el grosor del borde según lo necesites */

        }

        /* Estado hover del botón */
        .btn-outline-danger {
            border-color: #dc3545;
            border-width: 2px; /* Ajusta el grosor del borde según lo necesites */

        }

        .btn-outline-success:hover {
            background-color: #28a745;
        }

        .btn-outline-danger:hover {
            background-color: #dc3545;
        }

        /* Alineación del encabezado y el botón */
        .d-flex {
            justify-content: space-between;
        }

        .text-center {
            text-align: center;
        }

        /* Estilo de la fila de la tabla para las acciones */
        .text-nowrap {
            white-space: nowrap; /* Evita que los botones de acciones se dividan */
        }

        .table-responsive {
            overflow-x: auto;
        }
    </style>

    <div class="container mt-5" style="height: 300px">
        <!-- Título y Botón Nuevo -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-center mx-auto" style="color: #2D2D2D; ;margin-bottom: 20px ">
                Empleados
            </h1>


            <button class="btn btn-primary btn-submit" onclick="window.location.href = '{% url 'registrarEmpleado' %}'">
                Nuevo
            </button>
        </div>

        <!-- Tabla de Servicios -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th style="max-width: 150px;">Nombre</th>
                    <th style="max-width: 200px;">Apellido</th>
                    <th style="max-width: 200px;">Estación</th>
                    <th style="max-width: 150px;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr>
                        <td class="text-wrap" style="max-width: 150px;">{{ employee.name }}</td>
                        <td class="text-wrap" style="max-width: 300px;">{{ employee.last_name }}</td>
                        <td class="text-wrap" style="max-width: 300px;">{{ employee.station.station_name }}</td>
                        <td class="text-nowrap">
                            <a href="{% url 'editar_empleado' employee.id %}"
                               class="btn btn-outline-success btn-sm">✏️</a>
                            <a href="{% url 'deleteEmpleado' employee.id %}"
                               class="btn btn-outline-danger btn-sm">🗑️</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
