{% extends 'base/baseAdministrador.html' %}

{% block content %}
    <style>
        /* Mantener los estilos existentes de la tabla */
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #D9C49C;
        }

        .table-striped tbody tr:nth-of-type(even) {
            background-color: #f8f9fa;
        }

        .table {
            width: 100%;
            margin-bottom: 20px;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .table thead th {
            background-color: #7AACBF;
            color: white;
            text-align: center;
            padding: 12px;
            font-weight: bold;
            border: 1px solid #ccc;
        }

        .table tbody td {
            padding: 10px;
            border: 1px solid #E5E7EB;
            word-wrap: break-word;
            text-align: center;
        }

        .btn-primary {
            background-color: #8C182D !important;
            border-color: #8C182D !important;
        }

        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:focus {
            background-color: hsl(350, 72%, 55%) !important;
            border-color: hsl(350, 72%, 55%) !important;
            box-shadow: none !important;
        }

        /* Estilos generales para el chat */
        #chat-container {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #8C182D;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
        }

        #chat-container:hover {
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        }

        #chat-icon {
            font-size: 30px;
            color: white;
        }

        /* Contenedor del chat */
        #chat-content {
            width: 300px;
            height: 400px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            position: fixed;
            bottom: 80px;
            right: 20px;
            padding: 10px;
            display: none; /* Inicialmente oculto */
            flex-direction: column;
            font-family: "Univia Pro";
            transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
        }

        #chat-content.show {
            display: flex;
        }

        #chat-content.hide {
            height: 40px; /* Altura mínima al minimizar */
            padding: 0;
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }

        /* Estilo del encabezado */
        #chat-header {
            background-color: #012340;
            color: white;
            padding: 10px;
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Univia Pro';
            font-size: 16px;
        }

        #chat-header h3 {
            margin: 0;
            font-size: 18px;
        }

        /* Ocultar log e input al minimizar */
        #chat-content.hide #chat-log,
        #chat-content.hide #chat-input-container {
            display: none;
        }

        #chat-log {
            flex: 1;
            overflow-y: auto;
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #eee;
            border-radius: 5px;
            background-color: #f9f9f9;
            display: flex;
            flex-direction: column;
        }

        /* Estilo de los mensajes */
        #chat-log .message {
            padding: 10px;
            border-radius: 15px;
            margin: 5px 0;
            max-width: 80%;
            word-wrap: break-word;
            display: inline-block;
            clear: both;
        }

        .user-message {
            background-color: #dcf8c6;
            align-self: flex-end;
            border-radius: 15px 15px 0 15px;
        }

        .bot-message {
            background-color: #ffffff;
            align-self: flex-start;
            border-radius: 15px 15px 15px 0;
            border: 1px solid #ddd;
        }

        #chat-input-container {
            display: flex;
        }

        #chat-message-input {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            font-size: 14px;
        }

        #chat-message-submit {
            background: #8C182D;
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

        #chat-message-submit:hover {
            background-color: hsl(350, 72%, 55%) !important;
            border-color: hsl(350, 72%, 55%) !important;
        }

        #chat-toggle {
            background-color: transparent;
            color: white;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

    </style>

    <div class="container mt-5">
        <!-- Sección de órdenes (mantener igual) -->
        <div class="d-flex justify-content-center mb-3">
            <h1 class="text-center font-weight-bold" style="color: #2D2D2D; margin-bottom: 30px">
                Ordenes
            </h1>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre del Cliente</th>
                            <th>Vehículo</th>
                            <th>Valor Total</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orden in ordenes %}
                            <tr>
                                <td>{{ orden.customer.name }} {{ orden.customer.last_name }}</td>
                                <td>{{ orden.vehicle.placa }}</td>
                                <td>${{ orden.total }}</td>
                                <td>
                                    {% if orden.state == 'pagado' %}
                                        Pagado
                                    {% else %}
                                        No Pagado
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'detalle_orden' orden.id %}" class="btn btn-primary">Ver
                                        Detalles</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Chat -->

        
    </div>

    
{% endblock %}
